In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [6]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

# Q1: scrape data for “Data Analyst” Job position in “Bangalore” location job-title, job-location, company_name, experience_required.

In [11]:
##connecting the web driver 
driver=webdriver.Chrome(r"C:\Users\piyap\Downloads\chromedriver_win32\chromedriver.exe")
# by entering the below code url will be opened into the broswer.
url="https://www.naukri.com/"
driver.get(url)
time.sleep(5)
## now lets enter the job title
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data analyst')
# enterning the job location 
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("banglore")
time.sleep(5)
##using  class_name function for clicking 
search_btn=driver.find_element_by_xpath("//button[@class='btn']").click()
###extracting all job titles
job_titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
time.sleep(5)
companies_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
time.sleep(5)
# extracting all the companies name
company_names=[]
for i in companies_name:
       company_names.append(i.text) 
# extracting the tags having experience required data
Experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
Experience_list=[]
for i in Experience_tags:
    Experience_list.append(i.text)
time.sleep(5)
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_list=[]
for i in location_tags:
    location_list.append(i.text)
location_list_1=[]
for i in range(0, len(location_list)):
    location_list_1.append(location_list[i])
time.sleep(5)

Data_Analyst = pd.DataFrame({})
Data_Analyst["Company"]=company_names[:10]
Data_Analyst["Experience"]=Experience_list[:10]
Data_Analyst["Location"]=location_list_1[:10]
Data_Analyst

,Company,Experience,Location
0,Talenture Management Consulting,6-11 Yrs,"Chennai, Banglore"
1,2coms,0-5 Yrs,"Bangalore/Bengaluru, banglore"
2,Swathi Business Solutions,5-7 Yrs,Banglore
3,2coms,0-5 Yrs,"Bangalore/Bengaluru, Banglore"
4,E BARAHA,2-7 Yrs,Banglore
5,SPEED Consulting Pvt Ltd,2-5 Yrs,"Bengaluru, banglore"
6,TECHLUCENT SOLUTIONS PRIVATE LIMITED,4-9 Yrs,"Bangalore/Bengaluru, Banglore"
7,T & A Solutions,2-5 Yrs,Banglore
8,Aerial Telecom Solutions Pvt. Ltd.,10-15 Yrs,Banglore
9,Best InfoSystems Ltd.,5-8 Yrs,banglore

# Q:6 scrape First 100 sunglasses data from flipkat Brand name, Product Description, Price, discount %

In [12]:
##connecting the web driver 
driver=webdriver.Chrome(r"C:\Users\piyap\Downloads\chromedriver_win32\chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)
skip = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
skip.click()
time.sleep(5)
search = driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys('sunglasses')
brand=[]
des=[]
price=[]
discount=[]
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

num_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

num_page1 = driver.find_element_by_xpath('//a[@class="_1LKTO3"]/descendant::span[text()="Next"]').click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

sunglasses = pd.DataFrame({})
sunglasses['Brand name']=brand[:100]
sunglasses['Description']=des[:100]
sunglasses['Price']=price[:100]
sunglasses['Discount']=discount[:100]
sunglasses

,Brand name,Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹739,71% off
1,VINCENT CHASE,Polarized Retro Square Sunglasses (54),₹799,60% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹472,69% off
96,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹331,79% off
97,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹309,66% off
98,elegante,UV Protection Round Sunglasses (Free Size),₹189,81% off
99,Elligator,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹312,87% off

# Q:8 scrape First 100 shoes data from flipkat Brand name, Shoe Description and Price

In [7]:
##connecting the web driver 
driver=webdriver.Chrome(r"C:\Users\piyap\Downloads\chromedriver_win32\chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)
skip = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
skip.click()
time.sleep(5)
search = driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys('sneakers')
brand=[]
des=[]
price=[]
discount=[]
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

num_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

num_page1 = driver.find_element_by_xpath('//a[@class="_1LKTO3"]/descendant::span[text()="Next"]').click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']"):
    des.append(i.text)    
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)
time.sleep(5)

sneakers = pd.DataFrame({})
sneakers['Brand name']=brand[:100]
sneakers['Description']=des[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]
sneakers

,Brand name,Description,Price,Discount
0,Numenzo,Sneakers For Men,₹378,62% off
1,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
2,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
3,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹399,88% off
...,...,...,...,...
95,Zsyto,White Sneaker For Men Sneakers For Men,₹378,70% off
96,bluemaker,Sneakers For Men,₹399,60% off
97,BRUTON,Caracal Sneakers For Men,₹287,77% off
98,PUMA,Rebound JOY Sneakers For Men,"₹1,330",61% off
99,bluemaker,Fashionable casual sneaker shoes Sneakers For Men,₹399,60% off

# Q:9 Scrape data for first 100 sneakers data from Myntra Brand, Product Description, Price, discount %

In [10]:
##connecting the web driver 
driver=webdriver.Chrome(r"C:\Users\piyap\Downloads\chromedriver_win32\chromedriver.exe")
url="https://www.myntra.com/"
driver.get(url)
search = driver.find_element_by_class_name('desktop-searchBar')
search.send_keys('shoes')
search_btn = driver.find_element_by_xpath("//span[@class='myntraweb-sprite desktop-iconSearch sprites-search']")
search_btn.click()
time.sleep(5)
search_btn = driver.find_element_by_xpath("//label[@class='common-customCheckbox']")
search_btn.click()
time.sleep(5)
search_btn1 = driver.find_element_by_xpath("//label[text()='Rs. 5349 to Rs. 10499']")
search_btn1.click()
time.sleep(5)
brand=[]
des=[]
price=[]
for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='product-price']"):
    price.append(i.text)
num_page = driver.find_element_by_xpath('//li[@class="pagination-number"]//a').click()
time.sleep(5)
for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
    brand.append(i.text)
for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
    des.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='product-price']"):
    price.append(i.text)
shoes = pd.DataFrame({})
shoes['Brand name']=brand[:100]
shoes['Description']=des[:100]
shoes['Price']=price[:100]
brand1=[]
des1=[]
price1=[]
for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
    brand1.append(i.text)
for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
    des1.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='product-price']"):
    price1.append(i.text)
shoes1 = pd.DataFrame({})
shoes1['Brand name1']=brand1[:100]
shoes1['Description1']=des1[:100]
shoes1['Price1']=price1[:100]
shoes

,Brand name,Description,Price
0,UNDER ARMOUR,Men Charged Bandit 6 Running,Rs. 8999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Geox,Men Perforated Slip On Sneaker,Rs. 7199Rs. 8999(20% OFF)
3,Nike,Men Crater Remixa Sneakers,Rs. 5495
4,UNDER ARMOUR,Unisex Project Rock Recruit,Rs. 9999
...,...,...,...
95,ALDO,Women Solid Sneakers,Rs. 7999
96,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990(20% OFF)
97,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
98,Quechua By Decathlon,Waterproof Walking Shoes,Rs. 5669Rs. 6999(19% OFF)
99,Geox,Riveted Leather Block Heels,Rs. 5999Rs. 7499(20% OFF)

# Q:10 Scrape first 10 laptops(i7,i9) list Brand name, Rating and Price

In [5]:
##connecting the web driver 
driver=webdriver.Chrome(r"C:\Users\piyap\Downloads\chromedriver_win32\chromedriver.exe")

url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1628349954&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27"
driver.get(url)
time.sleep(5)
name=[]
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
    name.append(i.text)
rating=[]
for i in driver.find_elements_by_xpath("//span[@class='a-icon-alt']"):
    rating.append(i.text)
price=[]
for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
    price.append(i.text)
time.sleep(5)
Laptops = pd.DataFrame({})
Laptops['Brand name']=name[:10]
Laptops['Rating']=rating[:10]
Laptops['Price']=price[:10]
Laptops

                                          Brand name Rating     Price
0  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...         1,06,990
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...           84,990
2  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....           81,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...           84,990
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...           29,990
5  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...           85,000
6  Mi Notebook Horizon Edition 14 Intel Core i7-1...           59,999
7  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...           71,990
8  Life Digital Laptop 15.6-inch (39.62 cms) (Int...           34,990
9  NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch La...           56,155